section
	.grid
		.grid__col
			| Auto
		.grid__col.col-1
			| Col 1
		.grid__col.col-3.offset
			| Col 3 Offset 2
		.grid__col.col-2
			| Col 2
	.grid
		.grid__col
			| Auto
		.grid__col.col-4
			| Col 4 Hidden
		.grid__col.col-2.offset-1
			| Col 2 Offset 1
		.grid__col.col-2
			| Col 3
