doctype html
html(lang='ru')
	include pug/head.jade
	body
		// Mixins
		include libs/bemto/bemto.jade

		// Structure
		header(style='display: flex; justify-content: center;')
			h2(style='margin: 50px;'): a(href='material.html') Material Design
			h2(style='margin: 50px;'): a(href='grid.html') Grid System


		include pug/footer.jade