doctype html
html(lang='ru')
	include pug/head.jade
	body
		// Mixins
		include libs/bemto/bemto.jade

		// Structure
		include pug/material/cards.jade
		include pug/material/buttons.jade


		include pug/footer.jade