doctype html
html(lang='ru')
	include pug/head.jade
	body
		// Structure
		include pug/material/cards.jade
		include pug/material/buttons.jade
		include pug/material/fab.jade

		include pug/footer.jade