+b.SECTION.section
	+e.description
		+e.H2.title Buttons

	+e.component

		//Buttons
		+b.BUTTON.gmd-button._raise raised
		+b.BUTTON.gmd-button._raise._raise-disable disabled
		+b.BUTTON.gmd-button._raise._color colored
		+b.BUTTON.gmd-button._raise._accent accented
		+b.BUTTON.gmd-button regular
		+b.BUTTON.gmd-button._base-dense Dense
		+b.BUTTON.gmd-button._base-color flat colored
		+b.BUTTON.gmd-button._base-accent flat accented
		+b.BUTTON.gmd-button._base-disable flat dis
		+b.BUTTON.gmd-button._pill._color pill color
		+b.BUTTON.gmd-button._pill._accent pill accent
		+b.BUTTON.gmd-button._pill._pill-disable pill disable