+b.SECTION.section
	+e.description
		+e.H2.title Buttons

	+e.component

		//Buttons
		+b.BUTTON.gmd-button._raised raised
		+b.BUTTON.gmd-button._raised._raised-disabled disabled
		+b.BUTTON.gmd-button._raised._colored colored
		+b.BUTTON.gmd-button._raised._accented accented
		+b.BUTTON.gmd-button regular
		+b.BUTTON.gmd-button.gmd-button-dense Dense
		+b.BUTTON.gmd-button.gmd-button-colored flat colored
		+b.BUTTON.gmd-button.gmd-button-accented flat accented
		+b.BUTTON.gmd-button.gmd-button-disabled flat dis
		+b.BUTTON.gmd-button._pilled._colored pill color
		+b.BUTTON.gmd-button._pilled._accented pill accent
		+b.BUTTON.gmd-button._pilled._pilled-disabled pill disable